

.content-wrapper .content h3{
    font-weight: bold;
    font-family: 'Muli', sans-serif;
}
.content-wrapper .content .AboutAnchelEndUser p{
    font-size: 18px;
    text-align: justify;
    font-family: 'Muli', sans-serif;
    color: #617287;
    line-height: 1.5em;
}
.content-wrapper .content .about{
	padding: 0 75px;
}
.AboutAnchelEndUser .fa{
    color:#8bc34a;
}
.content-wrapper .content .AboutAnchelEndUser ul li{
    font-size: 18px;
    text-align: justify;
    font-family: 'Muli', sans-serif;
    color: #617287;
    line-height: 1.5em;
}
@media (max-width:425px){
    .content-wrapper .content .about{
        padding: 0px;
    }
    /* .AnchelWebPortal iframe{
        width: 100%;
        height: auto;
    } */
}
/* .treeview-menu > li:hover ul{
    background: #ecf0f5;
} */
.treeview-menu > li > a:hover{
    background: #f8b32a;
    color: #264997 !important;
}

@media (min-width:1400px){
    body{
        background: #e6e6ed;
    }
    
}


.AboutAnchelEndUser table thead tr th{
    font-family: 'Muli', sans-serif;
}
.AboutAnchelEndUser table tbody tr td{
    font-family: 'Muli', sans-serif;
    color: #617287;
    line-height: 1.5em;
}
.loginNote{
    background-color: #F0F9FD;
    border: 1px solid #59D0FF;
    color: #158AB8;
    border-radius: 10px;
    padding: 24px;
    margin: 25px 0;
}
.loginNote .note{
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
}
.loginNote .desc{
    font-size: 16px;
    line-height: 1;
    font-family: 'Muli', sans-serif;
}

.userName h3{
    font-size: 28px;
    font-weight: 800;
    font-family: 'Muli', sans-serif;
}

.treeview-menu .treeview .submenu li a{
    font-size: 16px;
    font-weight: normal;
}
/* .treeview-menu .treeview .submenu li a:active{
    background: #f8b32a;
    color: #264997;
} */

hr{
    margin-top: 0px;
}
