body {
    margin: 0;
    padding: 0;
 }
 
 #background 
{ 
     left: 0px; 
     top: 0px; 
     position: relative; 
     margin-left: auto; 
     margin-right: auto; 
     width: 1400px;
     height: 6518px; 
     overflow: hidden;
     z-index:0;
    } 

 #Background 
{ 
     left: 0px; 
     top: 0px; 
     position: absolute; 
     width: 1349px;
     height: 6518px;
     z-index:1;
} 

 #Layer1copy6 
{ 
     left: -653px; 
     top: 1716px; 
     position: absolute; 
     width: 2620px;
     height: 1287px;
     z-index:2;
} 

 #Layer1copy7 
{ 
     left: -681px; 
     top: 2977px; 
     position: absolute; 
     width: 2724px;
     height: 2101px;
     z-index:3;
} 

 #Layer1copy5 
{ 
     left: -268px; 
     top: 4535px; 
     position: absolute; 
     width: 2511px;
     height: 1730px;
     z-index:4;
} 

 #Layer20 
{ 
     left: -730px; 
     top: 728px; 
     position: absolute; 
     width: 2778px;
     height: 2193px;
     z-index:5;
} 

 #Layer20copy8 
{ 
     /* left: -877px; 
     top: 1503px;  */
     left: 0;
    top: 1642px;
     position: absolute; 
     width: 1721px;
     height: 1178px;
     z-index:6;
} 

 #Layer1copy4 
{ 
     left: 0px; 
     top: 2687px; 
     position: absolute; 
     width: 3895px;
     height: 3297px;
     z-index:7;
} 

 #Layer1copy2 
{ 
     left: -654px; 
     top: 1535px; 
     position: absolute; 
     width: 2918px;
     height: 2590px;
     z-index:8;
} 

 #Layer20copy2 
{ 
     left: -592px; 
     top: 2466px; 
     position: absolute; 
     width: 2568px;
     height: 2009px;
     z-index:9;
} 

 #Layer20copy10 
{ 
     left: -26px; 
     top: 3290px; 
     position: absolute; 
     width: 1755px;
     height: 1221px;
     z-index:10;
} 

 #Layer20copy4 
{ 
     /* left: -213px;  */
     left: -50px; 
     top: 4480px; 
     position: absolute; 
     width: 1726px;
     height: 1172px;
     z-index:11;
} 

 #Layer20copy7 
{ 
     /* left: -265px;  */
     left:0px;
     top: 4941px; 
     position: absolute; 
     width: 1726px;
     height: 1172px;
     z-index:12;
} 

 #Layer11 
{ 
     left: 46px; 
     top: 5444px; 
     position: absolute; 
     width: 563px;
     height: 653px;
     z-index:13;
} 

 #Layer1copy11 
{ 
     left: -734px; 
     top: 5546px; 
     position: absolute; 
     width: 3040px;
     height: 2882px;
     z-index:14;
} 

 #Layer20copy6 
{ 
     left: 443px; 
     top: -573px; 
     position: absolute; 
     width: 1726px;
     height: 1172px;
     z-index:15;
} 

 #Layer12 
{ 
     left: 900px; 
     top: 6150px; 
     position: absolute; 
     width: 679px;
     height: 525px;
     z-index:16;
} 
#Layer12 ul li a{
    padding: 0 10px;
} 
#Layer12 ul li a i{
    padding: 23px;
    border: 4px solid #be6f34;
    border-radius: 50%;
    font-size: 40px;
    width: 90px;
    height: 90px;
    text-align: center;
    color: #be6f34;
} 
#Layer12 ul li a i:hover{
    border-color: #264997;
    color: #264997;
}
 #Layer2 
{ 
     left: -66px; 
     top: 3191px; 
     position: absolute; 
     width: 669px;
     height: 435px;
     z-index:17;
} 

 #Layer3 
{ 
     left: 52px; 
     top: 67px; 
     position: absolute; 
     width: 411px;
     height: 132px;
     z-index:18;
} 

 #EnterpriseManagedFil 
{ 
     left: 55px; 
     top: 270px; 
     position: absolute; 
     width: 594px;
     height: 126px;
     z-index:19;
} 

 #Bestofbreedopensourc 
{ 
     left: 55px; 
     top: 526px; 
     position: absolute; 
     width: 404px;
     height: 110px;
     z-index:20;
} 

 #layer_21 
{ 
     left: 559px; 
     top: 550px; 
     position: absolute; 
     width: 160px;
     height: 369px;
     z-index:21;
} 

 #layer_22 
{ 
     left: 763px; 
     top: 635px; 
     position: absolute; 
     width: 209px;
     height: 231px;
     z-index:22;
} 

 #Runonpremisesoronthe 
{ 
     left: 248px; 
     top: 1502px; 
     position: absolute; 
     width: 375px;
     height: 64px;
     z-index:23;
} 

 #Flexiblesetup 
{ 
     left: 248px; 
     top: 1381px; 
     position: absolute; 
     width: 442px;
     height: 65px;
     z-index:24;
} 

 #Layer21 
{ 
     left: 663px; 
     top: 1382px; 
     position: absolute; 
     width: 517px;
     height: 221px;
     z-index:25;
} 

 #Payasyougomodelstopg 
{ 
     left: 446px; 
     top: 1838px; 
     position: absolute; 
     width: 372px;
     height: 109px;
     z-index:26;
} 

 #Layer9 
{ 
     left: 51px; 
     top: 1890px; 
     position: absolute; 
     width: 404px;
     height: 316px;
     z-index:27;
} 

 #Capabilities 
{ 
     left: 961px; 
     top: 2068px; 
     position: absolute; 
     width: 371px;
     height: 65px;
     z-index:28;
} 

 #Operations 
{ 
     left: 937px; 
     top: 3076px; 
     position: absolute; 
     width: 348px;
     height: 65px;
     z-index:29;
} 

 #Secure 
{ 
     left: 849px; 
     top: 3820px; 
     position: absolute; 
     width: 214px;
     height: 51px;
     z-index:30;
} 

 #Compliance 
{ 
     left: 54px; 
     top: 4818px; 
     position: absolute; 
     width: 364px;
     height: 65px;
     z-index:31;
} 

 #Support 
{ 
     left: 665px; 
     top: 5588px; 
     position: absolute; 
     width: 252px;
     height: 65px;
     z-index:32;
} 

 #EmailUs 
{ 
     /* left: 1059px; 
     top: 5936px;  */
     left: 900px;
     top: 6060px;
     position: absolute; 
     width: 366px;
     height: 51px;
     z-index:33;
} 

 #Layer17 
{ 
     left: 383px; 
     top: 4893px; 
     position: absolute; 
     width: 270px;
     height: 289px;
     z-index:34;
} 

 #SupportforHIPAASOXan 
{ 
     left: 750px; 
     top: 5230px; 
     position: absolute; 
     width: 463px;
     height: 484px;
     z-index:35;
} 

 #Runonmultipledevices 
{ 
     left: 76px; 
     top: 3360px; 
     position: absolute; 
     width: 322px;
     height: 190px;
     z-index:36;
} 

 #Alldataintransititen 
{ 
     left: 845px; 
     top: 3949px; 
     position: absolute; 
     width: 410px;
     height: 71px;
     z-index:37;
} 

 #Layer14 
{ 
     left: 856px; 
     top: 4063px; 
     position: absolute; 
     width: 332px;
     height: 332px;
     z-index:38;
} 

 #Automaticallyscanfor 
{ 
     left: 922px; 
     top: 4539px; 
     position: absolute; 
     width: 340px;
     height: 64px;
     z-index:39;
} 

 #Layer16 
{ 
     left: 934px; 
     top: 4652px; 
     position: absolute; 
     width: 337px;
     height: 292px;
     z-index:40;
} 

 #Integrateyourcustomn 
{ 
     left: 667px; 
     top: 5728px; 
     position: absolute; 
     width: 402px;
     height: 64px;
     z-index:41;
} 

 #Abilitytosecuredataa 
{ 
     left: 184px; 
     top: 4441px; 
     position: absolute; 
     width: 393px;
     height: 32px;
     z-index:42;
} 

 #Layer15 
{ 
     left: 211px; 
     top: 4084px; 
     position: absolute; 
     width: 309px;
     height: 311px;
     z-index:43;
} 

 #Manageanddistributef 
{ 
     left: 934px; 
     top: 850px; 
     position: absolute; 
     width: 409px;
     height: 147px;
     z-index:44;
} 

 #Layer6 
{ 
     left: 683px; 
     top: 150px; 
     position: absolute; 
     width: 424px;
     height: 332px;
     z-index:45;
} 

 #Layer4 
{ 
     left: 597px; 
     top: 1042px; 
     position: absolute; 
     width: 207px;
     height: 207px;
     z-index:46;
} 

 #Layer4copy 
{ 
     left: 598px; 
     top: 1163px; 
     position: absolute; 
     width: 205px;
     height: 86px;
     z-index:47;
} 

 #Layer5 
{ 
     left: 676px; 
     top: 1203px; 
     position: absolute; 
     width: 49px;
     height: 26px;
     z-index:48;
} 

 #GetStarted 
{ 
     left: 620px; 
     top: 1061px; 
     position: absolute; 
     width: 157px;
     height: 98px;
     z-index:49;
} 

 #Layer2copy 
{ 
     left: -32px; 
     top: 3181px; 
     position: absolute; 
     width: 870px;
     height: 553px;
     z-index:50;
} 

 #Layer2copy2 
{ 
     left: -30px; 
     top: 3331px; 
     position: absolute; 
     width: 853px;
     height: 533px;
     z-index:51;
} 

 #Thickclientavailable 
{ 
     left: 53px; 
     top: 3428px; 
     position: absolute; 
     width: 650px;
     height: 382px;
     z-index:9999;
} 

 #Layer2copy4 
{ 
     left: 725px; 
     top: 3191px; 
     position: absolute; 
     width: 61px;
     height: 87px;
     z-index:53;
} 

 #Layer2copy10 
{ 
     left: 703px; 
     top: 3352px; 
     position: absolute; 
     width: 52px;
     height: 73px;
     z-index:54;
} 

 #Abilitytostopandresu 
{ 
     left: 53px; 
     top: 3575px; 
     position: absolute; 
     width: 625px;
     height: 362px;
     z-index:55;
} 

 #Layer2copy3 
{ 
     left: -66px; 
     top: 3507px; 
     position: absolute; 
     width: 889px;
     height: 598px;
     z-index:56;
} 

 #Layer2copy11 
{ 
     left: 707px; 
     top: 3201px; 
     position: absolute; 
     width: 61px;
     height: 86px;
     z-index:57;
} 

 #Layer2copy5 
{ 
     left: 647px; 
     top: 3517px; 
     position: absolute; 
     width: 90px;
     height: 138px;
     z-index:58;
} 

 #Layer2copy6 
{ 
     left: 628px; 
     top: 3527px; 
     position: absolute; 
     width: 93px;
     height: 138px;
     z-index:59;
} 

 #Layer2copy7 
{ 
     left: 456px; 
     top: 3201px; 
     position: absolute; 
     width: 62px;
     height: 85px;
     z-index:60;
} 

 #Layer2copy8 
{ 
     left: 437px; 
     top: 3212px; 
     position: absolute; 
     width: 62px;
     height: 85px;
     z-index:61;
} 

 #Layer2copy9 
{ 
     left: 718px; 
     top: 3342px; 
     position: absolute; 
     width: 56px;
     height: 74px;
     z-index:62;
} 

 /* #IntegratedUserprovis 
{ 
    left: 577px; 
    top: 2607px; 
    position: absolute; 
    width: 392px;
    height: 33px;
    z-index:63;
}  */
#IntegrtedUserProv{
    position: absolute;
    top: 2607px;
    left: 577px;
    z-index: 999;
    width: 392px;
    height: 33px;
}
 #Layer22 
{ 
     left: 176px; 
     top: 2559px; 
     position: absolute; 
     width: 300px;
     height: 300px;
     z-index:64;
} 

 #Layer23 
{ 
     left: 619px; 
     top: 2267px; 
     position: absolute; 
     width: 326px;
     height: 326px;
     z-index:65;
} 

/*  #Reportingdashboardfo 
{ 
     left: 138px; 
     top: 2902px; 
     position: absolute; 
     width: 339px;
     height: 64px;
     z-index:66;
} */ 
#reportDashboard{
    left: 138px;
    top: 2902px;
    position: absolute;
    width: 339px;
    height: 64px;
    z-index: 999;
}
 #LeverageNonrepudiati 
{ 
     left: 70px; 
     top: 3735px; 
     position: absolute; 
     width: 532px;
     height: 351px;
     z-index:67;
} 

 #Layer1copy13 
{ 
     left: -348px; 
     top: 2231px; 
     position: absolute; 
     width: 2276px;
     height: 1323px;
     z-index:68;
} 

#EnterpriseManagedFil h2{
    font-weight: 800;
    color: #264997;
    font-size: 46px;
    font-family: 'Muli', sans-serif;
}
#Bestofbreedopensourc p{
    font-size: 26px;
    color: #555;
    font-family: 'Muli', sans-serif;
}
#Manageanddistributef p{
    font-size: 26px;
    color: #555;
    font-family: 'Muli', sans-serif;
}
#GetStarted h2{
    font-size: 36px;
    text-align: center;
    color: #ffffff;
    font-family: 'Muli', sans-serif;
}
#Layer5 span i{
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-left: 12px;
    font-weight: 600;
    cursor: pointer;
}
#Flexiblesetup h2{
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    font-family: 'Muli', sans-serif;
}
#Runonpremisesoronthe p{
    font-size: 28px;
    color: #fff;
    font-family: 'Muli', sans-serif;
}

#Payasyougomodelstopg p{
    font-size: 28px;
    color: #fff;
    font-family: 'Muli', sans-serif;
}

#Capabilities h2{
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Muli', sans-serif;
}

#IntegrtedUserProv a h4{
    color: #fff;
    font-size: 30px;
    cursor:pointer;
    font-family: 'Muli', sans-serif;
}
#IntegrtedUserProv a{
    text-decoration:none;
}

#reportDashboard h4{
    color: #fff;
    font-size: 29px;
    font-family: 'Muli', sans-serif;
}
#reportDashboard a{
    text-decoration:none;
    color: #ffffff;
   
}
#reportDashboard a:hover{
    color: #c1334b;
    text-shadow: 0 0 3px #c1334b;
}    

#Operations h2{
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    font-family: 'Muli', sans-serif;
}

#Runonmultipledevices h4{
    font-size: 29px;
    color: #fff;
    -ms-transform:rotate(-390deg); /* IE 9 */
    -webkit-transform: rotate(-390deg);/* Safari 3-8 */
    transform: rotate(-390deg);
    font-family: 'Muli', sans-serif;
}

#Thickclientavailable h4{
    font-size: 30px;
    color: #fff;
    -ms-transform:rotate(-390deg); /* IE 9 */
    -webkit-transform: rotate(-390deg); /* Safari 3-8 */
    transform: rotate(-390deg);
}
#Thickclientavailable a{
    color: #fff;
    text-decoration: none;
}
#Thickclientavailable a:hover{
    color: #c1334b;
    text-shadow: 0 0 3px #c1334b;
}
#Abilitytostopandresu h4{
    color: #fff;
    font-size: 29px;
    -ms-transform:rotate(-390deg); /* IE 9 */
    -webkit-transform: rotate(-390deg);/* Safari 3-8 */
    transform: rotate(-390deg);
    font-family: 'Muli', sans-serif;
}
#LeverageNonrepudiati h4{
    color: #fff;
    font-size: 29px;
    -ms-transform:rotate(-390deg); /* IE 9 */
    -webkit-transform: rotate(-390deg); /* Safari 3-8 */
    transform: rotate(-390deg);
    font-family: 'Muli', sans-serif;
}

#Compliance h2{
    color: #fff;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Muli', sans-serif;
}
#SupportforHIPAASOXan p{
    color: #fff;
    font-size: 39px;
    transform: rotate(-325deg);
    font-family: 'Muli', sans-serif;
}
#Support h2{
    color: #212121;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    font-family: 'Muli', sans-serif;
}
#Integrateyourcustomn p{
    color: #212121;
    font-size: 30px;
    font-family: 'Muli', sans-serif;
}
#EmailUs h2{
    color: #be6f34;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Muli', sans-serif;
}
#Secure h2{
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Muli', sans-serif;
}
#Alldataintransititen p{
    color: #fff;
    font-size: 29px;
    font-family: 'Muli', sans-serif;
}

#Abilitytosecuredataa p{
    font-size: 30px;
    color: #fff;
    font-family: 'Muli', sans-serif;
}
#Automaticallyscanfor p{
    color: #fff;
    font-size: 30px;
    font-family: 'Muli', sans-serif;
}


/* @media (min-width:1440px){
    #background{
        width:100%
    }
    #Layer20copy6{
        left: 510px;
        top:0px;
        width: 100%;
        left: 835px;
    }
    #layer_21{
        left: 1000px;
    }
    #layer_22{
        left: 1200px;
    }
    #Layer6{
        left: 1950px;
    }
    #Manageanddistributef{
        left: 1950px;
    }
} */
/*
@media (min-width:2560px){
    #Background{
        width: 100%;
    }
    #Layer20copy6{
        left: 1630px;
        top: -526px;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 15;
    }
} */

#menu_bar{
    /* background-color: #333; */
    position: fixed;
    top: 0;
   /*  width: 100%; */
    display:block;
    transition: top 0.3s;
  }
  
 /*  #menu_bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  } */

#background #menu_bar{
    /* position: absolute; */
    z-index: 999;
    width: 100%;
    text-align: right;
}
#background #menu_bar ul{
    display: inline-flex;
    list-style: none;
    margin: 20px 0;
}
/* #background #menu_bar ul li{
    margin: 20px;
} */
/* #background #menu_bar ul li:hover{
    background: #ffcc33;
    padding: 5px 10px;
} */
#background #menu_bar ul li a{
    text-decoration: none;
    color: #264997;
    font-size: 20px;
    font-weight: 600;
    padding: 0 15px;
}
#background #menu_bar ul li a:hover{
    padding: 5px 15px;
    background: #f8b32a;
    color: #fff;
}
#Layer12 ul{
    display: inline-flex;
    list-style: none;
}
.footer{
    top: 6490px;
    position: absolute;
    z-index: 9999;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.footer p{
    margin: 0 auto;
    color: #fff;
    font-size: 20px;
    font-family: 'Muli', sans-serif;
}
.footer1{
    top: 6450px;
    position: absolute;
    z-index: 9999;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.footer1 p{
    margin: 0 auto;
    color: #fff;
    font-size: 20px;
    font-family: 'Muli', sans-serif;
}

.content-wrapper .content h3{
    font-weight: bold;
    font-family: 'Muli', sans-serif;
}
.content-wrapper .content .AboutAnchelEndUser p{
    font-size: 18px;
    text-align: justify;
    font-family: 'Muli', sans-serif;
}
.content-wrapper .content .about{
	padding: 0 75px;
}
.AboutAnchelEndUser .fa{
    color:#8bc34a;
}
.content-wrapper .content .AboutAnchelEndUser ul li{
    font-size: 18px;
    text-align: justify;
    font-family: 'Muli', sans-serif;
}
@media (max-width:425px){
    .content-wrapper .content .about{
        padding: 0px;
    }
}
.treeview-menu > li:hover ul{
    background: #ecf0f5;
}
.treeview-menu > li > a:hover{
    background: #f8b32a;
    color: #264997 !important;
}

@media (min-width:1400px){
    body{
        background: #e6e6ed;
    }
    #Background{
        margin: 0 auto;
        display: flex;
        position: relative;
    }
    #Background #menu_bar{
        width: 90%;
    }
}
@media (min-width:1720px){
    #Background #menu_bar{
        width: 68%;
    }
}
@media (min-width:1865px){
    #Background #menu_bar{
        width: 52%;
    }
}

.AboutAnchelEndUser table thead tr th{
    font-family: 'Muli', sans-serif;
}
.AboutAnchelEndUser table tbody tr td{
    font-family: 'Muli', sans-serif;
}