@font-face {
    font-family: TitilliumWeb-Bold; 
    src: url('../fonts/TitilliumWeb-Bold.ttf');
}
@font-face {
    font-family: TitilliumWeb-ExtraLight; 
    src: url('../fonts/TitilliumWeb-ExtraLight.ttf');
}
body {
    margin: 0px;
    font-family: TitilliumWeb-ExtraLight;
    font-weight: 600;
    overflow-x: hidden;
}
p, h1, h2, h3, h4, h5, h6 {
    position: relative;
    z-index: 99999;
}
p {
    margin: 0px;
   /*  font-size: 26px; */
    font-family: 'Muli', sans-serif;
}
img {
    max-width: 100%;
}
/* backgound images css strat */
.main-block {
    background: url('../images/cloud1.png') right top no-repeat;
}
.flexible-block.flexible-block1 {
    display: table;
    background: url(../images/cloud2.png) left top no-repeat;
    width: 100%;
    margin-top: -639px;
    padding-top: 639px;
    background-size: cover;
    overflow: hidden;
}
.flexible-block.flexible-block2 {
    background: #89aa42;
    background: url(../images/cloud10.png) left Bottom no-repeat #89aa42;
    padding-bottom: 200px;
    overflow: hidden;
}
.capabilities-block {
    background: url(../images/cloud3.png) right top no-repeat;
    position: relative;
    margin-top: -40%;
    padding-top: 40%;
    padding-right: 50px;
    padding-left: 50px;
    overflow: hidden;
}
.transfer-block .bg-img-block {
    position: absolute;
    left: 40%;
    top: 8%;
}
.transfer-block p{
    font-size: 26px;
}
.capabilities-block .bg-img {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 1000px;
    height: 1000px;
    background: #333333;
    left: -5%
}
.capabilities-block .bg-img img {
    display: none;
}
.operations-block {
    background: url(../images/cloud4.png) right top no-repeat;
    margin-top: -500px;
    padding-top: 600px;
    position: relative;
}
.operations-block .bg-box {
    background: #ffcc33;
    position: absolute;
    width: 100%;
    height: 1500px;
    z-index: -1;
    top: -1%;
    left: -1%;
}
.operations-block .bg-box2 {
    background: #be6f34;
    position: absolute;
    width: 100%;
    height: 1000px;
    z-index: -1;
    bottom: -66%;
    left: 0;
}
.secure-block {
    background: url(../images/cloud5.png) right top no-repeat;
    position: relative;
    margin-top: -350px;
    padding-top: 500px;
    overflow: hidden;
}
.secure-block .box-bg {
    position: absolute;
    width: 100%;
    height: 600px;
    background: #89aa42;
    bottom: 0%;
    z-index: -1;
    left: 0;
}
.secure-block .box-bg2 {
    position: absolute;
    width: 95%;
    height: 1000px;
    background: #89aa42;
    top: 45%;
    z-index: -1;
    right: -17%;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.compliance-block {
   background: url(../images/cloud6.png) left top no-repeat;
    margin-top: -600px;
    position: relative;
    padding-top: 340px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 360px;
    overflow: hidden;
}
.compliance-block .box-bg2 {
    position: absolute;
    width: 117%;
    height: 500px;
    left: -13%;
    background: #264997;
    bottom: 7%;
    z-index: -1;
    transform: rotate(26deg);
}
.compliance-block .box-bg {
    width: 100%;
    height: 1000px;
    position: absolute;
    right: 0;
    top: 15%;
    background: #89aa42;
    z-index: -1;
}
.support-block {
    background: url(../images/cloud7.png) left top no-repeat;
    margin-top: -724px;
    padding-top: 600px;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
}
.support-block .box-bg {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 700px;
    right: 0;
    top: 36%;
    background: #264997;
}
.support-block .box-bg2 {
    background: #fff;
    position: absolute;
    bottom: -4%;
    left: -19%;
    width: 100%;
    height: 736px;
    z-index: -1;
    transform: rotate(20deg);
}
/* backgound images css end */

.logo-block {
    padding-top: 66px;
    padding-left: 50px;
    padding-right: 50px;
}
.logo-block img {
    width: 400px;
}
.transfer-block h1.title-block {
   /*  font-family: TitilliumWeb-Bold;
    color: #264997;
    line-height: 65px;
    font-size: 65px; */
    font-weight: 800;
    color: #264997;
    font-size: 46px;
    font-family: 'Muli', sans-serif;

    margin: 65px 0 135px 0;
}

.flexible-block .webservice-block {
    max-width: 968px;
    margin: 0 auto;
    color: #fff;
    padding-left: 50px;
    padding-right: 50px;
}
.flexible-block .webservice-block .content-block {
    width: 50%;
    float: left;
}
.flexible-block .webservice-block .img-block {
    float: left;
    width: 50%;
}
.flexible-block .model-block {
    clear: both;
    margin-left: 42%;
    color: #fff;
    padding-top: 224px;
}
.flexible-block .model-block p {
    font-size: 32px;
    margin-top: -10%;
}
.transfer-block {
    padding: 0 50px;
    position: relative;
}
.transfer-block .left-block {
    width: 412px;
    font-family: TitilliumWeb-ExtraLight;
    color: #2b2b2b;
    font-size: 32px;
    margin-bottom: 100px;
    font-weight: 600;
    line-height: 38px;
}
.transfer-block .right-block {
    width: 412px;
    font-family: TitilliumWeb-ExtraLight;
    color: #2b2b2b;
    font-size: 32px;
    margin: 0 0 0 auto;
    font-weight: 600;
    line-height: 38px;
}
.transfer-block .right-block .img-block {
    margin-top: 78px;
}
.transfer-block .start-block {
    margin-top: -273px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.transfer-block {
    padding-bottom: 130px;
    position: relative;
    overflow: hidden;
}
.flexible-block .webservice-block .content-block .title-block {
    /* font-size: 70px;
    margin: 0px; */
    line-height: 87px;
    /* font-family: TitilliumWeb-Bold; */
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    font-family: 'Muli', sans-serif;
}
.flexible-block .webservice-block .content-block p {
    /* font-size: 32px; */
    font-size: 28px;
    margin-top: 36px;
}
.flexible-block .model-block p {
    font-size: 28px;
}
.capabilities-block .title-block h4 {
    /* font-size: 70px;
    color: #fff;
    font-family: TitilliumWeb-Bold; */
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Muli', sans-serif;
    line-height: 87px;
    margin: 0px;
    text-align: right;
}
.capabilities-block .block-box.box1 {
    margin-top: 11%;
    margin-right: 400px;
    display: table;
    text-align: center;
    margin-left: auto;
}
.capabilities-block .block-box p {
    color: #fff;
    font-size: 28px;
}
.block-box.box2 {
    margin-top: -54px;
    margin-left: 86px;
    display: table;
    text-align: center;
}
.capabilities-block .desc h4{
    color: #fff;
    font-size: 29px;
    font-family: 'Muli', sans-serif;
}
.capabilities-block .desc{
    width:340px;
}
.capabilities-block .desc a{
    text-decoration: none;
    color: #ffffff;
}
.capabilities-block .desc a span{
    background: #fff;
    padding: 2px 15px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 10px;
    color: #f89e36;
    font-family: 'Muli', sans-serif;
}
.capabilities-block .desc a span:hover{
    background: #be6f34;
    color: #fff;
}

.operations-block {
    padding-left: 50px;
    padding-right: 50px;
}
.operations-block .content-block {
    top: 0vw;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    position: relative;
    z-index: 99999;
}
.operations-block .box1 {
    background: #8959f6;
    margin-bottom:24px;
    padding:20px 0;
    right: 52vw;
    padding-right: 125px;
}
.operations-block .box2 {
    background: #56cad4;
    margin-bottom:24px;
    padding:20px 0;
    right: 29vw;
    padding-right: 125px;
}
.operations-block .box3 {
    background: #f9d348;
    margin-bottom:24px;
    padding:20px 0;
    right: 31vw;
    padding-right: 125px;
}
.operations-block .box4 {
    background: #3933ff;
    margin-bottom:24px;
    padding:20px 0;
    right: 37vw;
    padding-right: 125px;
}
.operations-block .box  {
    position: relative; 
    color: #fff;
    font-size: 31px;
    text-align: right;
}
.operations-block .box .Border-line {
    height: 100%;
    position: absolute;
    right: 10px;
    top: 0;
    border-left-width: .75rem;
    border-right-width: .75rem;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
}
.operations-block .box1 .Border-line {
    border-right-color: #f9d348;
    border-left-color: #ee5256;
}
.operations-block .box2 .Border-line {
    border-right-color: #8959f6;
    border-left-color: #3933ff;
}
.operations-block .box3 .Border-line {
    border-right-color: #ee5256;
    border-left-color: #8959f6;
}
.operations-block .box4 .Border-line {
    border-right-color: #8959f6;
    border-left-color: #f9d348;
}
.operations-block .title-block h4 {
    /* font-size: 70px; */
    /* color: #fff; */
    /* font-family: TitilliumWeb-Bold; */
    line-height: 87px;
    margin: 0px;
    text-align: right;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    font-family: 'Muli', sans-serif;
}

/* .operations-block .content-block p{
    font-size: 26px;
} */
.operations-block .content-block .box2 a{
    text-decoration: none;
    color: #fff;
}
.secure-block {
    padding-left: 50px;
    padding-right: 50px;
}
.secure-block .title-block h4 {
    /* font-size: 70px;
    color: #fff;
    font-family: TitilliumWeb-Bold; */
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Muli', sans-serif;
    line-height: 87px;
    margin: 0px;
    text-align: right;
    margin-right: 21%;
    margin-top: 150px;
}
.secure-block .box-block .left-block {
    float: left;
    text-align: right;
    margin-top: 27%;
    width: 50%;
}
.secure-block .box-block .right-block {
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 70px;
}
.secure-block .box-block p{
    font-size: 30px;
}
.secure-block .box-block {
    display: table;
    width: 100%;
}
.secure-block .box-block .right-block .desc-block p {
    color: #fff;
    margin-bottom: 100px;
    font-size: 26px;
}
.secure-block .box-block .right-block .box-right {
    margin-left: 98px;
    margin-top: 50px;
}
.secure-block .box-block .right-block .box-right:nth-child(2) {
    margin-top: 200px;
}

.compliance-block .title-block h3 {
/*     font-size: 70px;
    color: #fff;
    font-family: TitilliumWeb-Bold; */
    color: #fff;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Muli', sans-serif;
    line-height: 87px;
    margin: 0px;
    margin-top: 100px;
}
.compliance-block .content-block {
    text-align: right;
    font-size: 70px;
    color: #fff;
}
.compliance-block .img-block {
    text-align: right;
    width: 40%;
}
.compliance-block .content-block p {
    -webkit-transform: rotate(-30deg);
    transform: rotate(30deg);
    width: 50%;
    position: relative;
    top: 1vw;
    left: 31vw;
    font-size: 50px;
    font-family: 'Muli', sans-serif;
}
.support-block .content-block {
    width: 60%;
    float: right;
}
.support-block .img-block {
    float: left;
    width: 40%;
    margin-top: 100px;
}
.support-block .support-container {
    display: table;
    width: 100%;
}
.secure-block .box-block .left-block .desc {
    color: #fff;
    font-size: 32px;
}
.secure-block .box-block .left-block .img-block {
    padding-right: 55px;
}
.support-block .content-block .title-block h2 {
    /* font-size: 70px;
    font-family: TitilliumWeb-Bold; */
    color: #212121;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Muli', sans-serif;
    line-height: 87px;
    margin: 0px;
    margin-top: 200px;
}
.support-block .content-block .content-section p{
    color: #212121;
    font-size: 30px;
    font-family: 'Muli', sans-serif;
}
.support-block .content-block .content-section {
    font-size: 32px;
    margin-top: 70px;
}
.email-block {
    background: url(../images/cloud8.png) left top no-repeat;
    margin-top: -550px;
    padding-top: 600px;
    position: relative;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 70px;
    overflow: hidden;
}
.email-block .box-bg {
    position: absolute;
    width: 100%;
    height: 500px;
    background: #f8b32a;
    z-index: -1;
    bottom: -39%;
    left: 0;
}
.email-block .email-content {
    text-align: right;
}
.email-block .email-content .title-block h2 {
   /*  font-size: 70px;
    color: #fff;
    font-family: TitilliumWeb-Bold; */
    line-height: 87px;
    margin-right: 50px;
    margin-top: -100px;
    margin-bottom: 100px;
    color: #be6f34;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Muli', sans-serif;
}
.email-block .email-content .img-block {
    margin-right: 180px;
	padding:11% 0px;
}

@media only screen and (min-width: 1400px) {
    .flexible-block.flexible-block1 {
        margin-top: -739px;
        padding-top: 639px;
    }
    .transfer-block .right-block {
        padding-top: 100px;
    }
    .flexible-block .webservice-block {
        padding-top: 200px;
    }
    .capabilities-block {
        background: url(../images/cloud3-lg.png) right top no-repeat;
        margin-top: -1165px;
        padding-top: 660px;
    }
    .flexible-block.flexible-block2 {
        background: #89aa42;
        background: url(../images/cloud10-lg.png) left Bottom no-repeat #89aa42;
        padding-bottom: 200px;
    }
    .flexible-block .model-block {
        padding-top: 300px;
        min-height: 550px;
    }
    .capabilities-container {
        padding: 0 100px;
    }
    .capabilities-block .block-box.box1 {
        margin-right: 35%;
    }
    .block-box.box2 {
        margin-left: 8%;
    }
    .transfer-block .bg-img-block {
        position: absolute;
        left: 40%;
        top: 8%;
    }    
    .capabilities-block .bg-img {
        position: absolute;
        top: 10%;
        z-index: -1;
        width: 1000px;
        height: 1000px;
        background: #333333;
    }
    .operations-block {
        background: url(../images/cloud4-lg.png) right top no-repeat;
        margin-top: -750px;
        padding-top: 600px;
    }
    .operations-block .bg-box2 {
        bottom: -83%;
    }
    .operations-block .bg-box {
        width: 100%;
        height: 1500px;
        z-index: -1;
        top: -1%;
        left: -1%;
    }
    .operations-block .content-block {
        top: 8vw;
    }
    .secure-block {
        background: url(../images/cloud5-lg.png) right top no-repeat;
    }
    .compliance-block {
        background: url(../images/cloud6-lg.png) left top no-repeat;
    }
    .support-block {
        background: url(../images/cloud7-lg.png) left top no-repeat;
    }
    .email-block {
        background: url(../images/cloud8-lg.png) left top no-repeat;
    }
}

@media only screen and (max-width: 1700px) {
    .capabilities-block .block-box.box1 {
        margin-top: 5%;
        margin-bottom: 6%;
    }
    .operations-block .content-block {
        top: 4vw;
    }
    .operations-block {
        margin-top: -650px;
    }
    .compliance-block {
        margin-top: -650px;
        padding-top: 300px;
        padding-bottom: 400px;
    }
    .compliance-block .box-bg2 {
        left: -18%;
        bottom: 17%;
    }
    .compliance-block .content-block p {
        width: 60%;
    }
    .support-block .box-bg2 {
        bottom: -2%;
    }
    .support-block .content-block {
        width: 55%;
    }
    .email-block {
        margin-top: -750px;
        padding-top: 590px;
    }
    .secure-block .box-block .left-block {
        margin-top: 22%;
    }
    .email-block .box-bg {
        bottom: -28%;
    }
    .transfer-block .bg-img-block {
        top: 14%;
    }
}

@media only screen and (max-width: 1500px) {
    .flexible-block .model-block {
        padding-top: 200px;
        min-height: 650px;
    }
    .operations-block .content-block {
        top: 1vw;
    }
    .secure-block .box-block .right-block .box-right:nth-child(2) {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 1399px) {
    .flexible-block .model-block {
        min-height: 240px;
        margin-bottom: -100px;
        padding-top: 300px;
        margin-left: 36%;
    }
    .block-box.box2 {
        margin-top: -54px;
        margin-bottom: 100px;
        margin-left: 0px;
    }
    .operations-block {
        padding-top: 500px;
        padding-bottom: 50px;
    }
    .secure-block .box-bg2 {
        width: 157%;
        top: 36%;
        right: -32%;
    }
    .secure-block {
        padding-top: 400px;
    }
    .secure-block .box-block .right-block {
        margin-top: 0px;
        padding-bottom: 100px;
    }
    .compliance-block .box-bg2 {
        height: 700px;
        width: 150%;
        bottom: 7%;
    }
    .secure-block .box-block .right-block .box-right:nth-child(2) {
        padding-bottom: 100px;
    }
    .compliance-block .content-block {
        font-size: 60px;
    }
    .compliance-block {
        margin-top: -600px;
        padding-bottom: 500px;
    }
    .support-block .box-bg2 {
        bottom: -29%;
        height: 900px;
        left: -24%;
        width: 120%;
    }
    .support-block {
        padding-top: 400px;
    }
    .email-block {
        margin-top: -350px;
        padding-top: 450px;
    }
    .email-block .email-content .img-block {
        margin-right: 100px;
    }
    .email-block .email-content .title-block h2 {
        margin-top: -50px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 1199px) {
    .transfer-block .bg-img-block {
        top: 17%;
        left: 45%;
    }
    .transfer-block .bg-img-block img {
        width: 65%;
    }
    .transfer-block .right-block .img-block img {
        width: 76%;
        display: table;
        margin: 0 0 0 auto;
    }
    .transfer-block h1.title-block {
        margin-bottom: 100px;
    }
    .transfer-block .left-block {
        padding-bottom: 50px;
    }
    .flexible-block.flexible-block1 {
        margin-top: -539px;
    }
    .flexible-block .model-block {
        min-height: 240px;
        margin-bottom: -50px;
        padding-top: 150px;
        margin-left: 40%;
    }
    .capabilities-block .block-box.box1 {
        margin-right: 220px;
    }
    .operations-block {
        margin-top: -550px;
        overflow: unset;
    }
    .operations-block .box {
        font-size: 26px;
    }
    .operations-block .content-block {
        top: -4vw;
    }
    .secure-block {
        padding-top: 300px;
    }
    .secure-block .box-block .right-block .box-right {
        margin-left: 0px
    }
    .compliance-block .box-bg2 {
        height: 658px;
        width: 150%;
        bottom: 19%;
        left: -28%;
    }
    .compliance-block .content-block {
        font-size: 44px;
    }    
    .compliance-block .title-block h3 {
        margin-top: 0px;
        padding-bottom: 30px;
    }
    .support-block {
        margin-top: -610px;
    }
    .email-block {
        padding-top: 550px;
    }
    .email-block .box-bg {
        bottom: -16%;
    }
    .compliance-block .img-block {
        width: 47%;
    }
    .flexible-block .webservice-block .img-block img {
        width: 76%;
    }
}

@media only screen and (max-width: 992px) {
    .transfer-block h1.title-block {
        font-size: 42px;
        line-height: 42px;
    }
    .transfer-block .left-block {
        font-size: 26px;
    }
    .transfer-block .bg-img-block img {
        width: 48%;
    }
    .transfer-block h1.title-block {
        margin-bottom: 50px;
    }
    .transfer-block .bg-img-block {
        top: 17%;
        left: 60%;
    }
    .transfer-block .left-block {
        margin-bottom: 50px;
    }
    .transfer-block .right-block {
        font-size: 26px;
    }
    .transfer-block .right-block .img-block img {
        width: 50%;
        display: table;
        margin: 0 0 0 auto;
        padding-top: 100px;
        margin-top: -100px;
        margin-bottom: 100px;
    }
    .flexible-block.flexible-block1 {
        padding-top: 450px;
    }
    .flexible-block .webservice-block .content-block .title-block, .capabilities-block .title-block h4, .operations-block .title-block h4, .operations-block .title-block h4, .compliance-block .title-block h3, .support-block .content-block .title-block h2, .email-block .email-content .title-block h2, .secure-block .title-block h4 {
        font-size: 42px;
    }
    .flexible-block .webservice-block .content-block p, .flexible-block .model-block p, .capabilities-block .block-box p, .secure-block .box-block .right-block .desc-block p, .secure-block .box-block .left-block .desc, .support-block .content-block .content-section {
        font-size: 22px;
    }
    .compliance-block .content-block {
        font-size: 32px;
    }
    .capabilities-block .block-box img {
        width: 60%;
    }
    .flexible-block .model-block {
        margin-bottom: -50px;
        padding-top: 100px;
        margin-left: 54%;
    }
    .operations-block {
        margin-top: -350px;
        padding-top: 400px;
    }
    .capabilities-block .block-box.box1 {
        margin-right: 100px;
    }
    .secure-block {
        margin-top: -290px;
        padding-top: 100px;
    }
    .secure-block .box-block .img-block img {
        width: 60%;
    }
    .compliance-block .img-block img {
        width: 60%;
    }
    .support-block {
        margin-top: -706px;
        padding-top: 200px;
        padding-bottom: 90px;
    }
    .email-block {
        margin-top: -536px;
        padding-top: 593px;
    }
    .email-block .email-content .img-block img {
        width: 35%;
    }
    .email-block .email-content .title-block h2 {
        margin-bottom: 0px;
    }
    /* .email-block .box-bg {
        bottom: -46%;
    } */
    .operations-block .box {
        font-size: 18px;
        padding-right: 80px;
    }
    .compliance-block {
        margin-top: -600px;
        padding-bottom: 550px;
        padding-top: 200px;
    }
    .compliance-block .box-bg2 {
        height: 658px;
        width: 150%;
        bottom: 1%;
        left: -28%;
    }
    .support-block {
        background: none;
    }
    .support-block .box-bg2 {
        width: 130%;
    }
    .support-block .content-block .content-section {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .secure-block .box-block .left-block {
        margin-top: 30%;
    }
    .logo-block img {
        width: 300px;
    }

}

@media only screen and (max-width: 767px) {
    .logo-block img {
        width: 200px;
    }
    .transfer-block .bg-img-block {
        top: 16%;
        right: 2%;
        width: auto;
        left: unset;
        display: table;
    }
    .transfer-block .bg-img-block img {
        width: 80px;
    }
    .transfer-block {
        padding: 0 20px;
    }
    .transfer-block h1.title-block {
        margin-bottom: 50px;
        font-size: 32px;
    }
    .transfer-block .left-block, .transfer-block .right-block {
        width: auto;
    }
    .transfer-block .left-block {
        margin-bottom: 0px;
    }
    .transfer-block .right-block .img-block {
        margin-top: 50px;
    }
    .flexible-block.flexible-block1 {
        margin-top: -200px;
        padding-top: 200px;
    }
    .transfer-block .left-block {
        margin-bottom: 0px;
    }
    .transfer-block .start-block {
        margin-top: 0;
    }
    .transfer-block .right-block .img-block img {
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 50px;
    }
    .flexible-block .webservice-block .content-block,.flexible-block .webservice-block .img-block {
        width: 100%;
        float: none;
    }

    .flexible-block .webservice-block .content-block p {
        margin-top: 0px;
        /* margin-bottom: 30px; */
    }
    .flexible-block .webservice-block .content-block .title-block, .capabilities-block .title-block h4, .operations-block .title-block h4, .operations-block .title-block h4, .compliance-block .title-block h3, .support-block .content-block .title-block h2, .email-block .email-content .title-block h2, .secure-block .title-block h4 {
        font-size: 26px;
        text-align: center;
    }
    .flexible-block .webservice-block .content-block p, .flexible-block .model-block p, .capabilities-block .block-box p, .secure-block .box-block .right-block .desc-block p, .secure-block .box-block .left-block .desc, .support-block .content-block .content-section, .transfer-block  p {
        font-size: 18px;
        line-height: 26px;
    }
    .flexible-block .webservice-block .content-block .title-block {
        line-height: unset;
    }
    .flexible-block.flexible-block2 {
        padding-bottom: 0px;
        padding-top: 30px;
        margin-top: -135px;
    }
    .flexible-block .model-block {
        margin-top: 65px;
        margin-left: 0;
        margin-bottom: 200px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .flexible-block .webservice-block {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .flexible-block .model-block p{
        text-align: center;
    }
    .transfer-block .start-block img {
        width: 150px;
        margin-bottom: 20px;
    }
    .capabilities-block {
        margin-top: -15%;
    }
    .capabilities-block .block-box.box1 {
        margin: 0 auto;
    }

    .block-box.box2 {
        margin: 0 auto;
        padding-top: 30px;
    }
    .operations-block {
        margin-top: -194px;
        padding-top: 250px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
        padding-bottom: 250px;
    }
    .operations-block .title-block h4 {
        margin-top: 25px;
    }
    .capabilities-block {
        padding-left: 20px;
        padding-right: 20px;
    }
    .operations-block .content-block {
        transform: rotate(-10deg);
        left: -20px;
        top: 8vw;
        z-index: 2;
    }
    .secure-block {
       margin-top: -335px;
        padding-left: 20px;
        padding-top: 80px;
        padding-right: 20px;
    }
    .operations-block .box {
        /* right: 0; */
        text-align: right;
        padding: 20px 49px 20px 80px;
        width: 110%;
    }
    .secure-block .title-block h4 {
        margin-right: 0px;
    }

    .secure-block .box-block .left-block {
        margin-top: 0px;
        width: 100%;
        text-align: center;
    }

    .secure-block .box-block .left-block .img-block {
        padding-right: 0px;
    }

    .secure-block .box-block .img-block img {
        width: 150px;
    }

    .secure-block .box-block .right-block {
        width: 100%;
    }

    .secure-block .box-block .right-block .desc-block p {
        margin-bottom: 30px;
    }

    .secure-block .box-bg {
        bottom: unset;
        top: 28%;
    }
    .compliance-block {
        margin-top: -210px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .secure-block .box-block .right-block .box-right:nth-child(2) {
        margin-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 0;
        text-align: center;
        z-index: 1;
        position: relative;
    }
    .compliance-block .title-block h3 {
        padding-bottom: 22px;
        text-align: center;
    }

    .compliance-block .img-block {
        width: 100%;
        margin-bottom: 50px;
    }

    .compliance-block .img-block img {
        width: 150px;
        display: table;
        margin: 0 auto;
    }

    .compliance-block .content-block p {
        transform: unset;
        width: 100%;
        left: 0;
        text-align: center;
        font-size: 22px;
        top: 0;
    }

    .compliance-block .box-bg2 {
        transform: rotate(30deg);
        /* background: transparent; */
        height: 415px;
        bottom: -44%;
        left: -38%;
        width: 248%;
    }

    .support-block {
        margin-top: -46px;
        padding-top: 0px;
        background: #fff;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px
    }
    .support-block .img-block {
        width: 100%;
        margin-top: 50px;
    }

    .support-block .img-block img {
        width: 150px;
        display: table;
        margin: 0 auto;
    }

    .support-block .content-block {
        width: 100%;
        text-align: center;
    }

    .support-block .content-block .title-block h2 {
        margin-top: 0;
    }

    .support-block .content-block .content-section {
        margin-top: -10px;
        margin-bottom: 0px;
    }
    
    .email-block {
        margin-top: 0px;
        padding-top: 20px;
        background: #f8b32a;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }

    .box-bg {
        background: transparent;
    }

    .email-block .box-bg {
        display: none;
    }

    .email-block .email-content .title-block h2 {
        margin: 0;
        text-align: center;
    }

    .email-block .email-content .img-block {
        margin: 0px;
    }

    .email-block .email-content .img-block img {
        width: 150px;
        margin: 0 auto;
        display: table;
    }
    .logo-block {
        margin-bottom: -28px;
        padding-left: 20px;
    }
    .main-block {
        background: url(../images/cloud1.png) right top no-repeat;
        background-position: top right;
        background-size: 70%;
    }
}

@media only screen and (max-width: 480px) {
    .operations-block .box {


/* right: 0; */

text-align: right;

padding: 20px 49px 20px 80px;

width: 110%;

font-size: 15px;

}
.capabilities-container .title-block{
    padding-top:40px;   
}


    .operations-block .content-block {
        transform: rotate(-29deg);
        left: -20px;
        z-index: 2;
    }
    .operations-block {
        overflow: hidden;
        padding-bottom: 100px;
        margin-top: -75px;
        padding-top: 220px;
        padding-left: 20px;
        padding-bottom: 287px;
    }
    .secure-block {
        margin-top: -335px;
    }
}

/* .email-block .email-content .img-block{
    position: relative;
    bottom:140px;
} */
.email-block .email-content .img-block ul li a i{
    padding: 22px;
    border: 4px solid #be6f34;
    border-radius: 50%;
    font-size: 35px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #be6f34;
}
/* .email-block .title-block{
    position: relative;
    top: 130px;
    right: 155px;
} */
.email-block .email-content .img-block ul li a i:hover{
    background: #264997;
    color: #fff;
    border-color: #264997;
}

/* .footer p{
    text-align: center;
    color: #fff;
} */
/* .contact p{
    text-align: right;
    color: #fff;
} */
.footer{
    position: relative;
    top: 120px;
}
/* .contact{
    position: relative;
    top: 65px;
} */
.gif{
    float: right;
    width: 50%;
    position: relative;
    right: 100px;
    top: 220px;
}
@media (max-width:768px){
    .gif{
        display: none;
    }
}

.usrImg{
    width: 200px;
    height: 200px;
}

.userProfile{
    margin-bottom: 50px;
}
/* .main{
    width: 350px;
} */
.logomain{
    padding: 25px;
}
.main img{
    margin-right: -18px;
}
/* .operationsTitle{
    position: absolute;
    right: 85px;
    bottom: 280px;
} */

@media (max-width:425px){
    .footer p{
        text-align: center;
        color: #fff;
    }
    .contact p{
        color: #fff;
    }
    .email-block .email-content .img-block{
        position: unset !important; 
        bottom: 0px !important;
        margin-right: 0px !important;
    }
    .email-block .title-block{
        position: unset !important;
        top:0px !important;
        right:0px !important;
    }
    .email-block .title-block ul{
        display:flex;
    }
    .email-block .title-block ul li{
        margin: 0 auto;
    } 
    .contact{
        position: unset !important;
        top:0px !important;
    }
    .footer {
        position: relative !important;
        top: 98px !important;
    }
    .li a{
        font-size: unset;
        padding: 0 15px 0 0;
    }
    .capabilities-block .desc{
        width: unset;
    }
    .operations-block .box1{
        width: 115%;
    }
    .operations-block .box3{
        width:95%;
    }
    .operations-block .box4{
        width:83%;
    }
    .email-block .email-content .img-block ul li a i{
        font-size:unset !important;
        width: 20px !important;
        height: 20px !important;
    }
    .email-block .email-content .img-block ul li a{
        padding: 0 5px;
    }
    .compliance-block .content-block p{
        font-size: 26px !important;
        font-family: 'Muli', sans-serif;
    }
    .support-block .support-container .content-block .supporImage{
        display:none;
    }
    .flexible-block .flexImg{
        display: none;
    }
    
}

@media (max-width:768px) and (min-width:768px){
    .footer p{
        text-align: center;
        color: #fff;
    }
    .contact p{
        color: #fff;
    }
    .contact{
        position: relative;
        top: 50px;
    }
    .footer {
        position: relative;
        top: 98px;
    }
    .email-block .box-bg {
        bottom: -45%;
    }
    .email-block .email-content .img-block{
        padding: unset;
    }
    .email-block .title-block {
        position: relative;
        top: 75px;
        right: unset;
    }
    .email-block .email-content .img-block ul li a i{
        font-size:unset;
        width: 20px;
        height: 20px;
    }
    .email-block .email-content .img-block ul li a{
        padding: 0 5px;
    }
    .email-block .email-content .img-block {
        position: relative;
        bottom: unset;
        top: 60px;
        margin-right: 100px !important;
    }
    .compliance-block .content-block p{
        font-size: unset;
        font-family: inherit;
    }
    
    .support-block .support-container .content-block .supporImage{
        display:none;
    }
    .flexible-block .flexImg{
        display: none;
    }
    .
}
@media (max-width:1023px){
    .gif{
        display: none;
     }
     .flexible-block .flexImg{
        display:none !important;
    }
    .footer p{
        text-align: center;
        color: #fff;
    }
    .contact p{
        color: #fff;
    }
}
@media (max-width:1024px){
    .email-block .email-content .img-block {
        position: relative;
        bottom: 25px;
        margin-right: 175px;
    }
    .compliance-block .content-block p{
        font-size: 34px;
    }
    
    .gif{
       width: 25%;
    }
    /* .transfer-block .bg-img-block img {
        width: 51% !important;
        margin-top: 50px;
    } */

}
@media (min-width:1024px){
    .gif{
        position: relative;
        left: 20%;
        
    }
    /* .flexible-block .flexImg{
        margin-left: unset !important;
    } */
    .email-block .box-bg{
        bottom: -13%;
    }
    .email-block .email-content .img-block {
        margin-right: 175px;
    }
   /*  .email-block .email-content .img-block{
        position: relative;
        bottom: 60px;
    } */
    .flexible-block .flexImg{
        width: 30%;
        display: block;
        position: absolute;
        bottom: -54%;
    }
    .footer p{
        text-align: center;
        color: #fff;
    }
    .contact p{
        color: #fff;
    }
}
.capabilities-block .monitor{
    display: table;
    text-align: center;
    margin-left: auto;
}

.team h4{
    font-family: 'Muli', sans-serif;
    font-weight: 600;
}
.team p{
    font-family: initial;
}
.myTeam h2{
    font-family: 'Muli', sans-serif;
    font-weight: 600;
}
@media (min-width:1440px){
    .email-block .box-bg {
        bottom: -28%;
    }

@media (min-width:1680px){
    .email-block .box-bg {
        bottom: -24%;
    }
}

@media (min-width:1920px){
    .email-block .box-bg{
        bottom:-21%;
    }
    .operations-block .box  {
        font-size: 42px;
    }
    .capabilities-block .monitor{
        margin-top: -242px;
    }
    .capabilities-block .title-block h4{
        top:-280px;
    }
    
}
.flexible-block .flexImg{
    width: 35%;
}
.flexible-block .flexImg{
    margin-top: -50%;
    margin-left: -18%;
}

.footer p{
    text-align: center;
    color: #fff;
}
.contact p{
    color: #fff;
}